/* The File name: COMP2112-F2022-Assignment2
   Author's name: Xinyu Zhu
   web site name: Assignment2
   file description: the css page of the website */

/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

/* main css for the app */
 body {
  background-color: #F9F7F7;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #3F72AF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom:10vh;
  margin-top: 10vh;
}

h3 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

p {
  color: #40514E;
  font-size: 1.1rem;
}

a {
  color: #3F72AF;
  padding: 0 20px 0 20px;
}

.top-container {
  background-color: #DBE2EF;
  padding-top: 100px;
  position: relative;
  height: 100vh;
}

.bottom-container {
  background-color: #DBE2EF;
  height: 150px;
  line-height: 2;
  padding-top: 50px;
}

.skills {
  margin-top: 50px;
}

.contact-me {
  line-height: 2;
  margin: 70px auto 70px auto;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 100px;
}

.bottom-cloud {
  left: 450px;
  position: absolute;
  top: 650px;
}

.codinggif {
  border-radius: 15px;
  float: left;
  margin-right: 30px;
  width: 20%;
}

.goalimg {
  border-radius: 25px;
  float: right;
  margin-left: 30px;
  width: 20%;
}

.profileimg {
  width: 10vw;
  padding-bottom: 100px;
}
.project-section p{
width: 750px;
text-align: justify;
line-height: 2;

margin:10px auto 50px auto;
}
.selfintroduce {
  line-height: 2;
  margin: 0 auto 0 auto;
  width: 450px;
}

.skill-row {
  margin: 70px auto 150px auto;
  text-align: left;
  width: 50%;
}

.skill-desc-1 {
  line-height: 2;
}

.skill-desc-2 {
  line-height: 2;
}

hr {
  border-color: #DBE2EF;
  border-style: dotted none none none;
  border-width: 8px;
  clear: both;
  width: 5%;
}

.profile {
  margin: 70px auto 70px auto;
  width: 50%;
}

.agree {
  margin-bottom: 50px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.button-55 { 
  align-self: center; 
  background-color: #fff;
  background-image: none; 
  background-position: 0 90%; 
  background-repeat:
  repeat no-repeat; 
  background-size: 4px 3px; 
  border-radius: 15px 225px
  255px 15px 15px 255px 225px 15px; 
  border-style: solid; 
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px; 
  box-sizing:
  border-box; 
  color: #41403e; 
  cursor: pointer; 
  display: inline-block;
  font-family: 'Merriweather', serif; 
  font-size: 1rem; 
  line-height: 23px;
  outline: none; 
  padding: .75rem; 
  text-decoration: none; 
  transition: all
  235ms ease-in-out; 
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px; 
  border-top-left-radius: 255px
  15px; border-top-right-radius: 15px 225px; 
  user-select: none;
  -webkit-user-select: none; 
  touch-action: manipulation; } .button-55:hover
  { box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px; 
    transform:
  translate3d(0, 2px, 0); } .button-55:focus { 
    box-shadow: rgba(0, 0, 0, .3)
  2px 8px 4px -6px; }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }
  .project-picture{
    display:inline;
    width: 75vh;
    align-self: center;
    margin: 20px auto 20px auto;
  } 
  